{% extends 'Utils/index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Image_Comparator/Css/compareImages.css' %}" />
{% endblock css %}

{% block style %}
<style>
    .loader {
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        border-left: 16px solid pink;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock style %}

{% block div %}
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-md-7 col-sm-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'Audio_Transcribing/Images/AudioToText3.jpg' %}" class="d-block w-100" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'Audio_Transcribing/Images/speech-to-text.jpg' %}" class="d-block w-100" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'Audio_Transcribing/Images/5-Best-Speech-to-Text-APIs-2-e1615383933700.png' %}"
                            class="d-block w-100" />
                    </div>
                </div>
            </div>
            <h1 class="text-center fw-bolder mt-5">Audio Transcribing</h1>
            <form class="container mt-5" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="form-group files mt-3">
                    {{ form.audio_file }}
                    <span class="text-danger d-inline-block mt-2">{{ form.audio_file.errors | striptags }}</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-center offset-lg-2 mt-2">
                    <span class="d-inline-block mb-3">{{ form.language.label_tag }}</span>
                    {{ form.language }} <span class="text-danger d-inline-block mt-2">{{ form.language.errors | striptags }}</span>
                </div>
                <div class="text-center mt-5">
                    <button class="btn btn-success btn-lg submit-btn" id="transcribe">Transcribe</button>
                </div>
                <div class="form-group mt-5 border border-dark">
                    <textarea class="form-control" name="output" id="myInput" rows="7"
                        placeholder="Your text will be displayed here">{{ text }}</textarea>
                </div>
                <div class="d-flex gap-2 d-md-flex justify-content-md-end mt-2">
                    {% if text %}
                    <button class="btn btn-primary" id="copy" onclick="myFunction()" data-bs-toggle="tooltip"
                        data-bs-placement="button" title="Copy to Clipboard">
                        Copy
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-12 offset-md-1">
            <h1 class="hs-font-positive display-1 mt-5 mb-5">
                NOW EASILY TRANSCRIBE YOUR AUDIO TO TEXT
            </h1>
            <div class="mt-5 pt-5">
                <h1 class="mt-5">Step to transcribe your audio into text.</h1>
                <ol class="display-7">
                    <li>
                        Upload your file from your computer by clicking on choose files and
                        submit it.
                    </li>
                    <li>
                        Now click on the transcribe button and wait till the process works.
                    </li>
                    <li>
                        Transcribes audio will be shown in the text box now you can copy
                        your text by just clicking on the copy button given below the text
                        box.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock div %}

{% block script %}
<script src="{% static 'Utils/Js/copy.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#transcribe").click(function(){
            let transcribe = document.getElementById("transcribe");
            let textarea = document.getElementById("myInput");
            if (textarea.innerHTML == ""){
                transcribe.innerHTML = "";
                $("#transcribe").addClass("loader");
                $("#transcribe").removeClass("btn-success");
            }
            else{
                transcribe.innerHTML = "Transcribe";
                $("#transcribe").removeClass("loader");
                $("#transcribe").addClass("btn-success");
            }
        });
    });
</script>
{% endblock script %}