{% extends 'Utils/index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Utils/Css/register.css' %}">
{% endblock css %}

{% block style %}
<style>
    .error {
        color: red;
        display: inline-block;
        margin: 5px;
    }
</style>
{% endblock style %}

{% block div %}
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
    <h4>{{ message }}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
    <h4>{{ message }}<strong> Please Login!</strong></h4>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
<div class="register my-5">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Password Change</h3>
                    <form method="POST" NOVALIDATE class="row register-form">
                        {% csrf_token %}
                        <div class="col-md-8 offset-md-2">
                            <div class="form-group">
                                {{ form.old_password }} <span class="error">{{ form.old_password.errors | striptags }}</span>
                            </div>
                            <div class="form-group">
                                {{ form.new_password1 }} <span class="error">{{ form.new_password1.errors | striptags }}</span>
                            </div>
                            <div class="form-group">
                                {{ form.new_password2 }} <span class="error">{{ form.new_password2.errors | striptags }}</span>
                            </div>
                        </div>
                        <div class="box" style="width: 64%;">
                            <input type="submit" class="btnRegister" value="Change My Password" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock div %}